<div class="produto-lista-container">
  <h1>Produtos</h1>

  <button mat-flat-button color="primary" routerLink="/produtos/novo">Novo Produto</button>

  @if (carregando) {
    <mat-spinner diameter="40"></mat-spinner>
  } @else {
    <table mat-table [dataSource]="produtos" class="mat-elevation-z2">

      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let produto">{{ produto.codigo }}</td>
      </ng-container>

      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let produto">{{ produto.descricao }}</td>
      </ng-container>

      <ng-container matColumnDef="saldo">
        <th mat-header-cell *matHeaderCellDef>Saldo</th>
        <td mat-cell *matCellDef="let produto">{{ produto.saldo }}</td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let produto">
          <button mat-icon-button color="warn" (click)="excluirProduto(produto.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunasExibidas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunasExibidas;"></tr>
    </table>
  }
</div>